@model MVC5ONLINETICARIOTAMASYON.Models.Sınıflar.Faturalar

@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Fatura Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("FATURA SERİ NO")
    @Html.TextBoxFor(x => x.FaturaSeriNO, new { @class = "form-control" })

    <br />
    @Html.Label("FATURA SIRA NO")
    @Html.TextBoxFor(x => x.FaturaSıraNO, new { @class = "form-control" })
    <br />
    @Html.Label("TARİH")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("VERGİ DAİRESİ")
    @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })

    @Html.Label("SAAT")
    @Html.TextBoxFor(x => x.saat, new { @class = "form-control" })

    @Html.Label("TESLİM EDEN")
    @Html.TextBoxFor(x => x.TeslimEden, new { @class = "form-control" })

    @Html.Label("TESLİM ALAN")
    @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })

    <br />
    <button class="btn btn-primary">KAYDET</button>




</form>

